.charities-wrapper {
    width: 100%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
    background: var(--card-bg);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    min-height: 80vh;
    text-align: center;
}

/*** Cards ***/
.charities-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .charities-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .charities-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}
