.search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.search-title {
    font-size: 25px;
    font-weight: 700;
    color: var(--primary);
    margin: 15px 0;
    letter-spacing: 0.5px;
}

.search-form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: var(--card-bg);
    border: 1px solid #ddd;
    border-radius: 14px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.search-form:focus-within {
    border-color: var(--primary);
    box-shadow: 0 0 6px rgba(78, 182, 230, 0.4);
}

.label-for-search {
    display: flex;
    align-items: center;
}

.search-btn {
    outline: none;
    border: none;
    background: transparent;
}

.search-icon {
    font-size: 1.2rem;
    color: #888;
}

.search-form:focus-within .search-icon {
    color: var(--primary);
}

.input {
    flex: 1;
    border: none;
    font-size: 16px;
    text-align: right;
    background: transparent;
    caret-color: var(--primary);
}

.input:focus {
    outline: none;
}
